%cardBody{
    height: 400px;
    color: white;
}


.workOut{
    height: 600px;
}


.img-1{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../../Images/hipcravo-5UbIqV58CW8-unsplash.jpg');
    background-size: 100%, 100%;
    @extend %cardBody;

}